/* ==========================================================================
	 Основные стили сайта
	 ========================================================================== */

/* Typography */

/** {
	transition: all .6s ease-in;
}*/

html, body {margin:0px; padding:0px; font-family:'Arial'; font-size:14px; line-height:18px; color:#000; background:#fff; height:100%;}
html.fancybox-lock {overflow:visible !important;}
html.fancybox-lock body {position:relative;}
a {color:#000000; outline:none; text-decoration:none;}
a:hover {text-decoration:none;}
a img {border:none;}
img {vertical-align:middle;}
hr {display:block; height:1px; border:0 none; border-top:1px solid #ccc; margin:0px; padding:0px;}
p {margin:0px 0px; padding:0px;}
h1 {font-size:36px; line-height:42px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h2 {font-size:24px; line-height:30px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
h3 {font-size:18px; line-height:24px; color:#fff; font-weight:bold; font-family:'Arial'; margin:0px; padding:0px;}
menu {margin:0px; padding:0px; list-style-type:none;}
ul {margin:0; padding:0px; list-style-type:disc;}
ol {margin:25px 0px 25px 30px; padding:0px; list-style-type:decimal;}
ol li, ul li {margin:0px; padding:0px; list-style-type: none;}
ol ol, ul ul {margin:6px 0px 6px 30px;}
form {margin:0px; padding:0px;}
button, input, select, textarea {outline:none; font-family:'arial';}
textarea {overflow:auto; resize: vertical;}
table {margin:0px; padding:0px; border:none; border-collapse:collapse;}
table td, table th {margin:0px; padding:0px; border:none; border-collapse:collapse; text-align:left; vertical-align:top; font-weight:normal;}
input {outline:none;}

/* General */
main {height:100%; 	position: relative;}
.clear.clear-footer {height:100px;}

.site-wrap {padding:0 120px; height: 100%;}


.global-wrapper {height: 100%;	padding-left: 300px;}

.global-wrapper.inner {position: relative;height: 100%;	padding-left: 300px;}

.container {
	min-width: 990px;
	max-width: 1920px;
	position: relative;
	height: 100%;
}

/* Header */


header {width:100%;}

/* Footer */
/*footer {position:absolute;left: 0;bottom: 0;width: 100%;height: 761px;}*/



/* ==========================================================================
	 Вспомогательные стили
	 ========================================================================== */
.show {display:block;}
.hide {display:none;}
.invisible {visibility:hidden;}
.clear {margin:0px; padding:0px; font-size:0px; line-height:0px; height:1px; clear:both; float:none;}
.clear-m {margin: 0;}
.clear-p {padding: 0;}
.unstyle-list {margin: 0;list-style-type: none;}
.clearfix:after {content: "";	display: table;	clear: both;}
::-ms-reveal {display:none;}


/* ==========================================================================
	 Стили для печати
	 ========================================================================== */

@media print {
		*, *:before, *:after, *:first-letter, *:first-line {background: transparent !important; color: #000 !important; box-shadow: none !important; text-shadow: none !important;}
		a, a:visited {text-decoration: underline;}
		a[href]:after {content: " (" attr(href) ")";}
		abbr[title]:after {content: " (" attr(title) ")";}
		a[href^="#"]:after, a[href^="javascript:"]:after {content: "";}
		pre, blockquote {border: 1px solid #999; page-break-inside: avoid;}
		thead {display: table-header-group;}
		tr, img {page-break-inside: avoid;}
		img {max-width: 100% !important;}
		p, h2, h3 {orphans: 3; widows: 3;}
		h2, h3 {page-break-after: avoid;}
}


/* ==========================================================================
	 Начало CSS >>>
	 ========================================================================== */

/*	BLOCK-FIRST-SCREEN	*/

.block-first-screen {
	position: relative;
	height: 100%;
	min-height:800px;
	background: #7e5024 url("../images/first-screen-bg.jpg") center center no-repeat;
	background-size: cover;
}

/*	BLOCK-SIDEBAR	*/

.block-sidebar {
	-webkit-transform: translateZ(0);
	position: fixed;
	top: 0;
	bottom: 0;
	width: 300px;
	padding-top: 34px;
	padding-left: 56px;
	background-image: url("../images/texture.png"), linear-gradient(to bottom, #6e3559 22%,#401841 100%);
	z-index: 999;
}

.block-sidebar .logotype-wrapper {
	position: relative;
	margin-bottom: 82px;
}

.block-sidebar .logotype-wrapper .language.eng{
	position: absolute;
	top: 13px;
	left: 139px;
	font-family: "OpenSansLight", sans-serif;
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	color: #fff;
}

.block-sidebar .logotype-wrapper .language.eng:hover{
	text-decoration: underline;
}

.block-sidebar .logotype {
	transition: all .2s ease-in;
}

.block-sidebar .logotype:hover {
	opacity: .8;
}

.block-sidebar .list-wrapper {
	padding-left: 3px;
}

.block-sidebar .list-title {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 16px;
	line-height: 44px;
	color: #fefefe;
}

.block-sidebar .list a {
	position: relative;
	display: inline-block;
	vertical-align: top;
	font-family: "AmazingGrotesk", sans-serif;
	font-size: 16px;
	line-height: 44px;
	color: #ffd200;
	transition: color .2s ease-in;
}

.block-sidebar .list a.active {
	color: #fff;
}

.block-sidebar .list a:hover {
	color: #fff;
}

.block-sidebar .list a::after {
	position: absolute;
	content: '';
	width: 7px;
	height: 11px;
	top: 16px;
	right: -21px;
	background:	url("../images/sprite123.png") -16px -276px no-repeat;
	opacity: .3;
	cursor: default;
	transition: opacity .2s ease-in;
}

.block-sidebar .list a.active::after {
	position: absolute;
	content: '';
	width: 7px;
	height: 11px;
	top: 16px;
	right: -21px;
	background:	url("../images/sprite123.png") -16px -276px no-repeat;
	opacity: 1;
	cursor: default;
}

.block-sidebar .list a:hover::after {
	position: absolute;
	content: '';
	width: 7px;
	height: 11px;
	top: 16px;
	right: -21px;
	background:	url("../images/sprite123.png") -16px -276px no-repeat;
	opacity: 1;
}

.block-sidebar .list a:first-letter {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
}

.block-promo span {
	font-size: 15px;
	line-height: 16px;
}

/*	BLOCK-HEADER	*/

.block-header {
	position: relative;
	margin-bottom: 70px;
	padding-top: 47px;
}

.block-header.inner {
	margin-bottom: 0;
}

.block-header.inner	{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99;
}

.block-header.music .title-wrapper {
	width: 590px;
}

.block-header nav {
	float: left;
	width: 80%;
}

.block-header .header-right {
	float: right;
	width: 20%;
	padding-left: 15px;
	text-align: right;
}

.block-header .header-right a {
	vertical-align: top;
	display: inline-block;
	font-family: "OpenSansLight", sans-serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: 100;
	color: #fff;
}

.block-header .header-right a:hover {
	text-decoration: underline;
}

.block-header menu {
	font-size: 0;
}

.block-header li {
	display: inline-block;
	vertical-align: top;
	margin-right: 13px;
}

.block-header li:last-child {
	margin-right: 0;
}

.block-header .nav-link {
	font-family: "OpenSansLight", sans-serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: 100;
	text-transform: uppercase;
	color: #fff;
}

.block-header .nav-link:hover {
	text-decoration: underline;
}



/*	BLOCK-INTRO */

.block-intro {
	position: relative;
	margin-bottom: 0;
	min-height: 553px;
}

.block-intro.honeymoon {
	background: #907859 url("../images/honeymoon-bg.jpg") center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro.music {
	background: #907859 url("../images/music-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro.international {
	background: #907859 url("../images/international-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro.meditation {
	background: #a67920 url("../images/meditation-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro.sea {
	background: #907859 url("../images/sea-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro.seafood {
	background: #907859 url("../images/seafood-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro.sport {
	background: #907859 url("../images/sport-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro.nation {
	background: #907859 url("../images/nation-bg.jpg") center top no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-intro .title-wrapper {
	width: 715px;
	padding-top: 26px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 120px;
}

.block-intro .title {
	display: inline-block;
	vertical-align: top;
	padding: 0 26px;
	font-family: "AmazingGrotesk", sans-serif;
	font-size: 64px;
	line-height: 85px;
	color: #fff;
	margin-bottom: 3px;
	background: #ec9b00; 
	background: -moz-linear-gradient(left, #ec9b00 0%, #fac800 83%); 
	background: -webkit-linear-gradient(left, #ec9b00 0%,#fac800 83%); 
	background: linear-gradient(to right, #ec9b00 0%,#fac800 83%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9b00', endColorstr='#d30031',GradientType=1 );
}

.block-intro .title:first-child::first-letter {
	font-family: "AmazingGrotesk-Ultra", sans-serif;
}

/* BLOCK-PROMO */

.block-promo .title-wrapper {
	width: 810px;
	position: absolute;
	top: calc(50% - 70px);
	transform: translateY(-50%);
	left: 120px;
}

.block-promo .title {
	display: inline-block;
	vertical-align: top;
	padding: 0 25px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 52px;
	line-height: 76px;
	color: #fff;
	background: #ec9b00; 
	margin-bottom: 3px;
	background: -moz-linear-gradient(left, #ec9b00 0%, #fac800 83%); 
	background: -webkit-linear-gradient(left, #ec9b00 0%,#fac800 83%); 
	background: linear-gradient(to right, #ec9b00 0%,#fac800 83%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9b00', endColorstr='#d30031',GradientType=1 );
}

.block-promo .check-map {
	position: absolute;
	bottom: 20px;
	right: -150px;
	width: 118px;
}

.block-promo .check-map span {
	font-family: "OpenSansSemiBold", sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	border-bottom: 1px dashed #fff;
}

.block-promo .check-map span:hover {border-bottom: 1px dashed transparent;}

.promo-items {
	font-size: 0;
	position: absolute;
	bottom: 0;
	left: 120px;
}

.block-promo .item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 33.33333333%;
	padding-top: 118px;
	padding-right: 60px;
	padding-bottom: 70px;
	font-family: "OpenSansBold", sans-serif;
	font-size: 16px;
	line-height: 26px;
	font-weight: 700;
	color: #fff;
}

.block-promo .item.item1::after {
	position: absolute;
	content: '';
	width: 75px;
	height: 86px;
	top: 0;
	left: 0;
	background:	url("../images/sprite123.png") -488px -341px no-repeat;
}

.block-promo .item.item2::after {
	position: absolute;
	content: '';
	width: 85px;
	height: 85px;
	top: 0;
	left: 0;
	background:	url("../images/sprite123.png") -623px -343px no-repeat;
}

.block-promo .item.item3::after {
	position: absolute;
	content: '';
	width: 90px;
	height: 94px;
	top: 0;
	left: 0;
	background:	url("../images/sprite123.png") -818px -10px no-repeat;
}


/*	BLOCK-SECTIONS	*/

.block-sections .item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 100%;
	height: 440px;
	overflow: hidden;
}

.block-sections .item .img {
	background: no-repeat center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
	transition:all 0.3s ease 0s;
}

.block-sections .item .title-wrapper {
	position: relative;
}

.block-sections .item .title:first-child {
	margin-bottom: 3px;
}

.block-sections .item .title:last-child span {
	position: relative;
}

.block-sections .item .title:last-child span::after {
	position: absolute;
	content: '';
	width: 32px;
	height: 22px;
	top: 50%;
	transform: translateY(-50%);
	right: -61px;
	background:	url("../images/sprite123.png") -10px -10px no-repeat;
	transition: all .2s ease-in;
}


.block-sections .title-wrapper {
	padding-top: 115px;
	margin-bottom: 31px;
	position: relative;
	z-index: 99;
}

.block-sections .item .title span {
	display: inline-block;
	vertical-align: top;
	padding: 0 30px;
	font-family: "AmazingGrotesk", sans-serif;
	font-size: 48px;
	line-height: 75px;
	color: #fff;
	background: #ec9b00;
	background: -moz-linear-gradient(left, #ec9b00 0%, #fac800 83%); 
	background: -webkit-linear-gradient(left, #ec9b00 0%,#fac800 83%); 
	background: linear-gradient(to right, #ec9b00 0%,#fac800 83%); 
	transition: all .3s ease-in;
}

.block-sections .item:hover .title span {
	background: -moz-linear-gradient(left, #6E3558 0%, #6E3558 83%); 
	background: -webkit-linear-gradient(left, #6E3558 0%,#6E3558 83%); 
	background: linear-gradient(to right, #6E3558 0%,#6E3558 83%);
}

.block-sections .item .title:first-child span:first-letter {
	font-family: "AmazingGrotesk-Ultra", sans-serif;
}

.block-sections .item:hover .img {
	-webkit-transform: scale(1.14);
	-moz-transform: scale(1.14);
	-ms-transform: scale(1.14);
	-o-transform: scale(1.14);
	transform: scale(1.14);
}

.block-sections .item .text {
	width: 572px;
	position: relative;
	z-index: 99;
}

.block-sections .item .text p {
	display: inline;
	font-family: "OpenSansLight", sans-serif;
	font-size: 20px;
	line-height: 28px;
	font-weight: 100;
	color: #fff;
	background-color: rgba(0, 0, 0, .4);
	transition: all .3s ease-in;
}

.block-sections .item:hover .text p {
	background: #6E3558;
}

.block-sections .item .item-wrapper {
	position: relative;
	height: 100%;
}

.block-sections .item.item1 .img {
	background: #9abbaf url("../images/item1-bg.jpg") center bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item .item-wrapper::after {
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.block-sections .item.item1 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 220px;
	height: 226px;
	background:	url("../images/sprite123.png") -578px -10px no-repeat;
}

.block-sections .item.item2 .img {
	background: #9abbaf url("../images/item3-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item2 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 157px;
	height: 201px;
	background:	url("../images/sprite123.png") -199px -10px no-repeat;
}

.block-sections .item.item3 .img {
	background: #9abbaf url("../images/item2-bg.jpg") center bottom no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item3 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 182px;
	height: 216px;
	background:	url("../images/sprite123.png") -376px -10px no-repeat;
}

.block-sections .item.item4 .img {
	background: #9abbaf url("../images/item4-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item4 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 201px;
	height: 183px;
	background:	url("../images/sprite123.png") -1896px -10px no-repeat;
}

.block-sections .item.item5 .img {
	background: #9abbaf url("../images/item5-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item5 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 176px;
	height: 172px;
	background:	url("../images/sprite123.png") -2117px -10px no-repeat;
}

.block-sections .item.item6 .img {
	background: #9abbaf url("../images/item6-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item6 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 159px;
	height: 176px;
	background:	url("../images/sprite123.png") -1717px -10px no-repeat;
}

.block-sections .item.item7 .img {
	background: #9abbaf url("../images/item7-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item7 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 181px;
	height: 183px;
	background:	url("../images/sprite123.png") -265px -250px no-repeat;
}

.block-sections .item.item8 .img {
	background: #9abbaf url("../images/item8-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item8 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 240px;
	height: 157px;
	background:	url("../images/sprite123.png") -1257px -10px no-repeat;
}


.block-sections .item.item9 .img {
	background: #9abbaf url("../images/item9-bg.jpg") center center no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.block-sections .item.item9 .item-wrapper::after {
	position: absolute;
	content: '';
	width: 199px;
	height: 169px;
	background:	url("../images/sprite123.png") -1038px -10px no-repeat;
}



/* BLOCK-ABOUT	*/

.block-about {
	padding-top: 77px;
	padding-bottom: 128px;
	background-color: #333333;
}

.block-about .title {
	margin-bottom: 12px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 48px;
	line-height: 84px;
	color: #fff;
}

.block-about .text-wrapper {
	margin-bottom: 37px;
	font-size: 0;
}

.block-about .text {
	display: inline-block;
	vertical-align: top;
	width: 50%;
}

.block-about .text:first-child {
	padding-right: 37px;
}
.block-about .text:last-child {
	padding-left: 37px;
}

.block-about .text p {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 30px;
	font-weight: 100;
	color: #fff;
}

.block-about .about-btn-wrapper {
	text-align: right;
}

.block-about .about-btn {
	display: inline-block;
	vertical-align: top;
	padding: 12px 40px;
	background-color: #eb9700;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 18px;
	color: #fff;
	border: 1px solid transparent;
	transition: all .2s ease-in;
}

.block-about .about-btn:hover {
	color: #eb9700;
	background-color: transparent;
	border: 1px solid #eb9700;
}


/* BLOCK-MEDITATION */

.block-meditation {
	padding-top: 87px;
	padding-bottom: 70px;
	background-color: #333333;
}

.block-meditation .meditation-title-wrapper {
	margin-bottom: 37px;
}

.block-meditation h2 {
	max-width: 930px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #ffd200;
}

.block-meditation .meditation-gallery img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-meditation .meditation-gallery {
	margin-bottom: 19px;
}

.block-meditation .meditation-gallery .slider {
	margin-bottom: 34px;
}

.block-meditation .gallery-descr {
	width: 80%;
	float: left;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-meditation .counter {
	position: relative;
	padding-right: 29px;
	float: right;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-meditation .counter .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-meditation .counter .slider-prev{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

.block-meditation .meditation-text {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 35px;
	font-weight: 100;
	color: #fff;
}


/* BLOCK-SPORT */

.block-sport {
	padding-top: 89px;
	padding-bottom: 74px;
	background-color: #333333;
}

.sport-title-wrapper {
	margin-bottom: 59px;
}

.block-sport h2 {
	max-width: 1024px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #ffd200;
}

.block-sport .photo {
	float: left;
	width: 60%;
}

.block-sport .photo img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-sport .descr {
	float: right;
	width: 40%;
	padding-left: 52px;
	margin-top: -7px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-sport .interview {
	padding-top: 21px;
	padding-bottom: 29px;
}

.block-sport .interview .wrapper {
	margin-bottom: 24px;
}

.block-sport .question {
	margin-bottom: 2px;
	font-family: "OpenSansBold", sans-serif;
	font-size: 16px;
	line-height: 34px;
	color: #ffd200;
}

.block-sport .answer {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	color: #fff;
}

.block-sport .answer p {
	position: relative;
}

.block-sport .answer p::after {
	position: absolute;
	content: '';
	width: 20px;
	height: 1px;
	top: 14px;
	left: -48px;
	background-color: #fff;
}

.sport-gallery img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-sport .slider {
	margin-bottom: 33px;
}

.block-sport .counter {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
	text-align: center;
}

.block-sport .counter-wrapper {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.block-sport .counter .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: -31px;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-sport .counter .slider-prev{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -31px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

/* BLOCK-SEA */

.block-sea {
	padding-top: 98px;
	padding-bottom: 54px;
	background-color: #333333;
}

.block-sea .sea-title-wrapper {
	margin-bottom: 50px;
}

.block-sea h2 {
	max-width: 760px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #ffd200;
}

.sea-gallery1-wrapper {
	position: relative;
	margin-bottom: 103px;
}

.sea-gallery1-wrapper::after {
	position: absolute;
	content: '';
	width: 221px;
	height: 1px;
	bottom: -53px;
	left: 0;
	background-color: #fefefe;
	opacity: .25;
}

.block-sea .sea-gallery1 {
	margin-bottom: 50px;
}

.block-sea .sea-gallery1-wrapper .text {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-sea .sea-gallery1 .slider-wrapper {
	position: relative;
	float: left;
	width: 60%;
}

.block-sea .sea-gallery1 .slider-wrapper img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-sea .descr-wrapper {
	float: right;
	width: 40%;
}

.block-sea .sea-gallery1 .descr {
	padding-left: 57px;
	margin-top: -7px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-sea .counter-wrapper {
	padding-left: 57px;
}

.block-sea .sea-gallery1 .counter {
	position: absolute;
	bottom: -7px;
	right: -163px;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-sea .sea-gallery1 .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-sea .sea-gallery1 .slider-prev {
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

.block-sea .sea-gallery2 img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-sea .sea-gallery2 {
	margin-bottom: 19px;
}

.block-sea .sea-gallery2 .slider {
	margin-bottom: 34px;
}

.block-sea .gallery-descr {
	width: 80%;
	float: left;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-sea .counter {
	position: relative;
	padding-right: 29px;
	float: right;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-sea .counter .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-sea .counter .slider-prev{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

	/* BLOCK-SEAFOOD */

.block-seafood {
	padding-top: 89px;
	padding-bottom: 80px;
	background-color: #333333;
}

.block-seafood .seafood-title-wrapper {
	margin-bottom: 34px;
}

.block-seafood .seafood-title-wrapper h2 {
	max-width: 1024px;
	margin-bottom: 15px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #ffd200;
}

.block-seafood .seafood-title-wrapper p {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-seafood .seafood-gallery img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-seafood .seafood-gallery {
	margin-bottom: 19px;
}

.block-seafood .seafood-gallery .slider {
	margin-bottom: 34px;
}

.block-seafood .gallery-descr {
	width: 80%;
	float: left;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-seafood .counter {
	position: relative;
	padding-right: 29px;
	float: right;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-seafood .counter .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-seafood .counter .slider-prev{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

.block-seafood .seafood-info {
	position: relative;
}

.block-seafood .seafood-info::after {
	position: absolute;
	content: '';
	width: 221px;
	height: 1px;
	bottom: -59px;
	left: 0;
	background-color: #fefefe;
	opacity: .25;
}

.block-seafood .seafood-info p {
	margin-bottom: 23px;
	font-family: "OpenSansLight";
	font-size: 16px;
	line-height: 34px;
	color: #fff;
}

.block-seafood .seafood-info-wrapper p {
	float: left;
	width: 40%;
	padding-right: 40px;
}

.block-seafood .seafood-info-wrapper img {
	float: right;
	width: 60%;
	height: auto;
	margin-top: 10px;
}

.seafood-info2 .text p {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #ffd200;
}

.block-seafood .seafood-info2 {
	padding-top: 110px;
	margin-bottom: 50px;
}

.block-seafood .seafood-gallery2 .slider-wrapper {
	position: relative;
	float: left;
	width: 60%;
}

.block-seafood .seafood-gallery2 .slider-wrapper img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.block-seafood .seafood-gallery2 .descr-wrapper {
	float: right;
	width: 40%;
}

.block-seafood .seafood-gallery2 .descr {
	padding-left: 52px;
	margin-top: -7px;
	font-family: "OpenSansLight";
	font-size: 16px;
	line-height: 34px;
	color: #fff;
}

.block-seafood .seafood-gallery2 .counter {
	position: absolute;
	bottom: -7px;
	right: -163px;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-seafood .seafood-gallery2 .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-seafood .seafood-gallery2 .slider-prev {
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}



/* BLOCK-INTERNATIONAL */

.block-international {
	padding-top: 100px;
	padding-bottom: 80px;
	background-color: #333333;
}

.block-international .international-info1 {
	margin-bottom: 102px;
	position: relative;
}

.block-international .international-info1::after {
	position: absolute;
	content: '';
	width: 221px;
	height: 1px;
	bottom: -52px;
	left: 0;
	background-color: #fefefe;
	opacity: .25;
}

.block-international .international-gallery1 {
	margin-bottom: 50px;
}

.block-international .international-gallery1 .slider-wrapper {
	position: relative;
	float: left;
	width: 60%;
}

.block-international .international-gallery1 .slider-wrapper img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.block-international .international-gallery1 .descr-wrapper {
	float: right;
	width: 40%;
}

.block-international .international-gallery1 .descr {
	padding-left: 52px;
	margin-top: -7px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-international .international-gallery1 .counter {
	position: absolute;
	bottom: -7px;
	right: -163px;
	padding-right: 29px;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-international .international-gallery1 .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-international .international-gallery1 .slider-prev {
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

.block-international .international-info1 .text {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-international .international-info2 .text {
	margin-bottom: 41px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-international .international-title-wrapper h2 {
	max-width: 890px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #ffd200;
}

.block-international .facts {
	padding-top: 26px;
	padding-bottom: 36px;
	font-size: 0;
}

.block-international .fact {
	display: inline-block;
	vertical-align: top;
	width: 25%;
	margin-right: 73px;
}

.block-international .fact .year {
	margin-bottom: 10px;
}

.block-international .fact span {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 30px;
	line-height: 24px;
	color: #fff;
}

.block-international .fact p {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-international .international-info3 {
	position: relative;
	margin-bottom: 103px;
}

.block-international .international-info3::after {
	position: absolute;
	content: '';
	width: 221px;
	height: 1px;
	bottom: -52px;
	left: 0;
	background-color: #fefefe;
	opacity: .25;
}

.block-international .international-info3 .items {
	padding-top: 31px;
}

.block-international .international-info3 .items {
	font-size: 0;
}

.block-international .international-info3	.item {
	float: left;
	width: 240px;
	margin-right: 75px;
	margin-bottom: 34px;
}

.block-international .international-info3 .item:nth-child(3n) {
	margin-right: 0;
}

.block-international .international-info3 .photo {
	margin-bottom: 31px;
}

.block-international .international-info3 .item .name {
	margin-bottom: 12px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.block-international .international-info3 .item .text {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-international .international-info3 .text span {
	color: #ffd200;
}

.block-international .international-info4 {
	margin-bottom: 102px;
	position: relative;
}

.block-international .international-info4 .items {
	padding-top: 28px;
}

.block-international .international-info4 .wrapper {
	margin-bottom: 9px;
	font-size: 0;
}

.block-international .international-info4 .year {
	display: inline-block;
	vertical-align: top;
	width: 42px;
	margin-right: 80px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 35px;
	color: #fff;
}

.block-international .international-info4 .text {
	display: inline-block;
	vertical-align: top;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-international .international-info4 .text-wrapper {
	display: inline-block;
	vertical-align: top;
	width: 770px;
}

.block-international .international-info4 .subtext {
	display: inline-block;
	vertical-align: top;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #999999;
}
.block-international .international-info4::after {
	position: absolute;
	content: '';
	width: 221px;
	height: 1px;
	bottom: -52px;
	left: 0;
	background-color: #fefefe;
	opacity: .25;
}
.block-international .international-info5 {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}



/*BLOCK-MUSIC*/

.block-music {
	padding-top: 98px;
	padding-bottom: 54px;
	background-color: #333333;
}

.block-music .gallery-wrapper {
	margin-bottom: 112px;
	position: relative;
}

.block-music .gallery-wrapper::after {
	position: absolute;
	content: '';
	width: 221px;
	height: 1px;
	bottom: -60px;
	left: 0;
	background-color: #fefefe;
	opacity: .25;
}

.block-music .music-gallery1 {
	margin-bottom: 50px;
}

.block-music .music-gallery1 .slider-wrapper {
	position: relative;
	float: left;
	width: 60%;
}

.block-music .music-gallery1 .slider-wrapper img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-music .music-gallery1 .descr-wrapper {
	float: right;
	width: 40%;
}

.block-music .music-gallery1 .descr {
	padding-left: 52px;
	margin-top: -7px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-music .music-gallery1 .counter {
	position: absolute;
	bottom: -7px;
	right: -163px;
	padding-right: 29px;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-music .music-gallery1 .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-music .music-gallery1 .slider-prev {
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

.block-music .music-title-wrapper h2 {
	max-width: 890px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 36px;
	line-height: 48px;
	color: #ffd200;
}

.block-music .music-info {
	padding-bottom: 60px;
}

.block-music .music-info .music-title-wrapper {
	margin-bottom: 18px;
}

.block-music .music-info .text {
	margin-bottom: 32px;
}

.block-music .music-info .text {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-music .music-gallery2 {
	padding-top: 85px;
	padding-bottom: 40px;
}

.block-music .music-gallery2 img{
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-music .photo-wrapper .photo {
	float: right;
	width: 60%;
}

.block-music .photo-wrapper .photo img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-music .photo-wrapper .descr-wrapper {
	float: right;
	width: 40%;
}

.block-music .photo-wrapper .descr {
	padding-right: 52px;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-music.music-gallery2 img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-music .music-gallery2 .slider {
	margin-bottom: 33px;
}

.block-music .music-gallery2 .counter {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
	text-align: center;
}

.block-music .music-gallery2 .counter-wrapper {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.block-music .music-gallery2 .counter .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: -31px;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-music .music-gallery2 .counter .slider-prev{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -31px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

.block-music .event-calendar {
	padding-bottom: 30px;
}

.block-music .event-calendar h2 {
	max-width: 890px;
	margin-bottom: 28px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 36px;
	line-height: 60px;
	color: #fff;
}

.block-music .event-calendar .items {
	margin-bottom: 10px;
	font-size: 0;
}

.block-music .event-calendar .item {
	position: relative;
	display: inline-block;
	vertical-align: top;
	width: 422px;
	margin-bottom: 40px;
}

.block-music .event-calendar .item:first-child {
	float: left;
}

.block-music .event-calendar .item:last-child {
	float: right;
}

.block-music .event-calendar .text {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 24px;
	padding-bottom: 10px;
	padding-left: 41px;
}


.block-music .event-calendar .date {
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 30px;
	line-height: 24px;
	color: #ffd200;
}

.block-music .event-calendar .descr {
	font-family: "OpenSansRegular", sans-serif;
	font-size: 17px;
	line-height: 30px;
	font-weight: 100;
	color: #fff;
	padding-top: 10px;
}

.block-music .show-all-btn {
	display: inline-block;
	vertical-align: top;
	padding: 0 40px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 43px;
	color: #fff;
	background: #ec9b00;
	background: -moz-linear-gradient(left, #ec9b00 0%, #fac800 83%); 
	background: -webkit-linear-gradient(left, #ec9b00 0%,#fac800 83%); 
	background: linear-gradient(to right, #ec9b00 0%,#fac800 83%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9b00', endColorstr='#d30031',GradientType=1 );
	border: 1px solid transparent;
	transition: all .2s ease-in;
}

.block-music .show-all-btn:hover {
	color: #eb9700;
	background: transparent;
	border: 1px solid #eb9700;
}


	 /* block-honeymoon */

.block-honeymoon {padding-top:90px; padding-bottom:80px; background-color:#333333;}
.block-honeymoon .honeymoon-title {margin-bottom:54px;}
.block-honeymoon .honeymoon-title h2{max-width: 880px;font-family: "AmazingGrotesk-DemiBold",sans-serif;	font-size: 36px;line-height: 48px;color: #ffd200;}
.block-honeymoon .honeymoon-gallery1 {margin-bottom: 48px;}
.block-honeymoon .honeymoon-gallery1 .slider-wrapper {position:relative;float: left;width: 60%;}
.block-honeymoon .honeymoon-gallery1 .slider-wrapper img {width:100%;max-width:100%;height:auto;}
.block-honeymoon .honeymoon-gallery1 .descr-wrapper {float:right;width:40%;}
.block-honeymoon .honeymoon-gallery1 .descr {padding-left: 52px;margin-top: -7px;font-family:"AmazingGrotesk-DemiBold", sans-serif;font-size: 18px;line-height: 36px;color: #fff;}
.block-honeymoon .honeymoon-gallery1 .counter {position: absolute;bottom: -7px;right: -163px;padding-right: 29px;font-family: "OpenSansLight", sans-serif;font-size: 16px;line-height: 34px;font-weight: 100;color: #fff;}
.block-honeymoon .honeymoon-gallery1 .slider-next {position: absolute;content: '';width: 12px;height: 20px;top: 6px;right: 0;background:url("../images/sprite123.png") -74px -271px no-repeat;cursor: pointer;}
.block-honeymoon .honeymoon-gallery1 .slider-prev {position: absolute;content: '';width: 12px;height: 20px;top: 6px;left: -29px;background:	url("../images/sprite123.png") -42px -271px no-repeat;cursor: pointer;}
.block-honeymoon .honeymoon-text p {font-family: "OpenSansLight", sans-serif;font-size: 16px;line-height: 34px;font-weight: 100;color: #fff;}

.block-honeymoon .honeymoon-gallery2 {margin-bottom:51px; padding-top:54px;}
.block-honeymoon .honeymoon-gallery2 img {width:100%; max-width:100%; height:auto;}
.block-honeymoon .honeymoon-gallery2 .slider {margin-bottom: 34px;}
.block-honeymoon .gallery-descr{width: 80%;float: left;font-family:"AmazingGrotesk-DemiBold",sans-serif;font-size:18px; line-height:36px; color: #fff;}
.block-honeymoon .honeymoon-gallery2 .counter {position:relative;	padding-right:29px;	float:right;	font-family:"OpenSansLight", sans-serif;font-size: 16px;line-height: 34px;font-weight: 100;color: #fff;}
.block-honeymoon .honeymoon-gallery2 .counter .slider-next {position: absolute;content: '';width: 12px;height: 20px;top: 6px;right: 0;background:	url("../images/sprite123.png") -74px -271px no-repeat;cursor: pointer;}
.block-honeymoon .honeymoon-gallery2 .counter .slider-prev {position: absolute;content: ''; width: 12px;height: 20px;top:6px; left:-29px; background:url("../images/sprite123.png") -42px -271px no-repeat;cursor:pointer;
}
.block-honeymoon .honeymoon-gallery3 {position: relative;}
.block-honeymoon .honeymoon-gallery3 .slider-wrapper {float:right; width: 60%;}
.block-honeymoon .honeymoon-gallery3 .slider-wrapper img {width:100%;max-width:100%;height:auto;}
.block-honeymoon .honeymoon-gallery3 .descr-wrapper {float:left;width:40%;}
.block-honeymoon .honeymoon-gallery3 .descr {padding-right: 52px;margin-top: -7px;font-family: "OpenSansLight", sans-serif;font-size: 16px;line-height: 34px;font-weight: 100;color: #fff;}
.block-honeymoon .honeymoon-gallery3 .counter {position: absolute;bottom: -7px; left: 29px;padding-right: 29px;font-family: "OpenSansLight", sans-serif;font-size: 16px;line-height: 34px;font-weight: 100;color: #fff;}
.block-honeymoon .honeymoon-gallery3 .slider-next {position: absolute;content: '';width: 12px;height: 20px;top: 6px;right: 0;background:url("../images/sprite123.png") -74px -271px no-repeat;cursor: pointer;}
.block-honeymoon .honeymoon-gallery3 .slider-prev {position: absolute;content: '';width: 12px;height: 20px;top: 6px; left:-29px;background:url("../images/sprite123.png") -42px -271px no-repeat;cursor:pointer;}


/* block-advices */
.block-advices {padding-bottom:120px; background:#ec9a00;background: -moz-linear-gradient(left, #ec9a00 0%, #fac800 55%); background: -webkit-linear-gradient(left, #ec9a00 0%,#fac800 55%); background: linear-gradient(to right, #ec9a00 0%,#fac800 55%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ec9a00', endColorstr='#fac800',GradientType=1 );}
.block-advices .advices-title {position: relative;padding-top: 61px;padding-bottom: 13px;}
.block-advices .advices-title::after {position: absolute;content: ''; width: 80px; height: 80px; top: 61px; right: 0; background:	url("../images/sprite123.png") -119px -272px no-repeat;}
.block-advices .advices-title h2 {width: 655px; font-family: "AmazingGrotesk-DemiBold", sans-serif;font-size: 36px;	line-height: 60px;	color: #fff;}
.block-advices .advices-text {padding-right: 140px;}
.block-advices .advices-text p {position: relative;	margin-bottom: 24px;	font-family: "AmazingGrotesk", ans-serif;	font-size: 18px;	line-height: 30px;	color: #fff;}
.block-advices .advices-text p:last-child {margin-bottom: 0;}
.block-advices .advices-text p::after {	position: absolute;	content: '';	width: 20px;	height: 1px;	top: 14px;	left: -48px;	background-color: #fff;}
.block-advices.music img {float: left;	margin-right: 45px;}
.block-advices a {font-family: "AmazingGrotesk-DemiBold", sans-serif;	font-size: 18px;	line-height: 30px;	color: #fff;	text-decoration: underline;}
.block-advices a:hover {text-decoration: none;}


/* block-nation */

.block-nation {padding-top:98px; padding-bottom:72px; background-color:#333333;}

.block-nation .nation-info1 {
	margin-bottom: 102px;
	position: relative;
}

.block-nation .nation-info1::after {
	position: absolute;
	content: '';
	width: 221px;
	height: 1px;
	bottom: -52px;
	left: 0;
	background-color: #fefefe;
	opacity: .25;
}

.block-nation .nation-gallery1 {
	margin-bottom: 50px;
}

.block-nation .nation-gallery1 .slider-wrapper {
	position: relative;
	float: left;
	width: 60%;
}

.block-nation .nation-gallery1 .slider-wrapper img {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.block-nation .nation-gallery1 .descr-wrapper {
	float: right;
	width: 40%;
}

.block-nation .nation-gallery1 .descr {
	padding-left: 52px;
	margin-top: -7px;
	font-family: "AmazingGrotesk-DemiBold", sans-serif;
	font-size: 18px;
	line-height: 36px;
	color: #fff;
}

.block-nation .nation-gallery1 .counter {
	position: absolute;
	bottom: -7px;
	right: -163px;
	padding-right: 29px;
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-nation .nation-gallery1 .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: 0;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-nation .nation-gallery1 .slider-prev {
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -29px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

.block-nation .nation-info1 .text {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
}

.block-nation .nation-info2 {
	margin-bottom: 56px;
}

.block-nation .nation-info2 .info2-title {
	margin-bottom: 28px;
}

.block-nation .nation-info2 .info2-title h2 {
	max-width: 880px;font-family: "AmazingGrotesk-DemiBold",sans-serif;	font-size: 36px;line-height: 48px;color: #ffd200;
}

.block-nation .nation-info2 .info2-text {
	margin-bottom: 31px;
}

.block-nation .nation-info2 .info2-text p {
	font-family: "AmazingGrotesk-DemiBold",sans-serif;	font-size: 18px;line-height: 36px;color: #fff;
}

.block-nation .nation-gallery2 {position: relative;}
.block-nation .nation-gallery2 .slider-wrapper {float:right; width: 60%;}
.block-nation .nation-gallery2 .slider-wrapper img {width:100%;max-width:100%;height:auto;}
.block-nation .nation-gallery2 .descr-wrapper {float:left;width:40%;}
.block-nation .nation-gallery2 .descr {padding-right: 52px;margin-top: -7px;font-family: "OpenSansLight", sans-serif;font-size: 16px;line-height: 34px;font-weight: 100;color: #fff;}
.block-nation .nation-gallery2 .counter {position: absolute;bottom: -7px; left: 29px;padding-right: 29px;font-family: "OpenSansLight", sans-serif;font-size: 16px;line-height: 34px;font-weight: 100;color: #fff;}
.block-nation .nation-gallery2 .slider-next {position: absolute;content: '';width: 12px;height: 20px;top: 6px;right: 0;background:url("../images/sprite123.png") -74px -271px no-repeat;cursor: pointer;}
.block-nation .nation-gallery2 .slider-prev {position: absolute;content: '';width: 12px;height: 20px;top: 6px; left:-29px;background:url("../images/sprite123.png") -42px -271px no-repeat;cursor:pointer;}


.block-nation .nation-info3 .info3-text {
		margin-bottom: 51px;
}

.block-nation .nation-info3 .info3-text p {
	font-family: "AmazingGrotesk-DemiBold",sans-serif;	font-size: 18px;line-height: 36px;color: #fff;
}

.block-nation .nation-gallery3 img {
	width: 100%;
	max-width: 100%;
	height: auto;
}

.block-nation .nation-gallery3 .slider {
	margin-bottom: 33px;
}

.block-nation .nation-gallery3 .counter {
	font-family: "OpenSansLight", sans-serif;
	font-size: 16px;
	line-height: 34px;
	font-weight: 100;
	color: #fff;
	text-align: center;
}

.block-nation .nation-gallery3 .counter-wrapper {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.block-nation .nation-gallery3 .counter .slider-next{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	right: -31px;
	background:	url("../images/sprite123.png") -74px -271px no-repeat;
	cursor: pointer;
}

.block-nation .nation-gallery3 .counter .slider-prev{
	position: absolute;
	content: '';
	width: 12px;
	height: 20px;
	top: 6px;
	left: -31px;
	background:	url("../images/sprite123.png") -42px -271px no-repeat;
	cursor: pointer;
}

/* ==========================================================================
	 @MEDIAQUERIES >>>
	 ========================================================================== */
@media (max-width: 1440px) {


	.site-wrap {
		padding: 0 30px;
	}

	.block-header .title-wrapper {
		left: 30px;
	}

	/* .block-intro */

	.block-intro .title-wrapper {width: 655px; left: 30px;}
	.block-intro .title {font-size: 58px;}

	/* .block-promo */
	.block-promo .title-wrapper {
		width: 636px;
		left: 30px;
	}
	.block-promo .title {
		font-size: 34px;
		line-height: 70px;
	}

	.block-promo .promo-items {
		left: 30px;
	}

	.block-promo .item {
		padding-right: 40px;
		font-size: 15px;
		line-height: 25px;
	}

	.block-promo .check-map {
		bottom: 20px;
		right: -23px;
		width: 110px;
	}

	.block-promo .check-map span {
		font-size: 13px;
		line-height: 19px;
	}

	/*block-sport*/
	.block-sport .descr {
		float: none;
		width: 100%;
		padding-left: 0;
		padding-right: 14px;
	}

	.block-sport .interview {
		padding-left: 59px;
	}

	.block-sport .photo {
		float: none;
		width: 100%;
		margin-bottom: 25px;
	}

	/*block-sea*/
	.block-sea .sea-gallery1 .slider-wrapper {
		position: relative;
		float: none;
		width: 100%;
		margin-bottom: 34px;
	}

	.block-sea .descr-wrapper {
		float: none;
		width: 78%;
	}

	.block-sea .sea-gallery1 .descr {
		padding-left: 0;
	}

	.block-sea .sea-gallery1 .counter {
		bottom: -64px;
		z-index: 99;
		right: 0;
	}

	/*block-seafood*/
	.block-seafood .seafood-info-wrapper img {
		float: none; 
		width: 100%;
		height: auto;
		margin-top: 10px;
	}

	.block-seafood .seafood-info-wrapper p {
		float: none; 
		width: 100%;
	}

	.block-seafood .seafood-gallery2 .slider-wrapper {
		position: relative;
		float: none;
		width: 100%;
		margin-bottom: 34px;
	}

	.block-seafood .seafood-gallery2 .descr-wrapper {
		float: none;
		width: 78%;
	}

	.block-seafood .seafood-gallery2 .descr {
		padding-left: 0;
	}

	.block-seafood .seafood-gallery2 .counter {
		bottom: -64px;
		z-index: 99;
		right: 0;
	}

	/*block-international*/
	.block-header.international .title {
		font-size: 60px;
	}
	.block-international .international-gallery1 .slider-wrapper {
		position: relative;
		float: none;
		width: 100%;
		margin-bottom: 34px;
	}

	.block-international .international-gallery1 .descr-wrapper {
		float: none;
		width: 78%;
	}

	.block-international .international-gallery1 .descr {
		padding-left: 0;
	}

	.block-international .international-gallery1 .counter {
		bottom: -64px;
		z-index: 99;
		right: 0;
	}

	.block-international .international-info3	.item {
		display: inline-block;
		vertical-align: top;
		width: 240px;
		margin-right: 75px;
		margin-bottom: 34px;
	}

	.block-international .international-info3 .item:nth-child(3n) {
		margin-right: 75px;
	}

	.block-international .international-info4 .text {
		width: 500px;
	}

	.block-international .international-info4 .text-wrapper {
		display: inline-block;
		vertical-align: top;
		width: 500px;
	}

	/*block-nation*/
	.block-nation .nation-gallery1 .slider-wrapper {
			position: relative;
			float: none;
			width: 100%;
			margin-bottom: 34px;
		}

		.block-nation .nation-gallery1 .descr-wrapper {
			float: none;
			width: 78%;
		}

		.block-nation .nation-gallery1 .descr {
			padding-left: 0;
		}

		.block-nation .nation-gallery1 .counter {
			bottom: -64px;
			z-index: 99;
			right: 0;
		}

	.block-nation .nation-gallery2 .slider-wrapper {
		position: relative;
		float: none;
		width: 100%;
		margin-bottom: 34px;
	}

	.block-nation .nation-gallery2 .descr-wrapper {
		float: none;
		width: 78%;
	}

	.block-nation .nation-gallery2 .descr {
		padding-left: 0;
	}

	.block-nation .nation-gallery2 .counter {
		bottom: 28px;
		z-index: 99;
		right: 0;
		left: auto;
	}

	/*block-music*/
	.block-music .music-gallery1 .slider-wrapper {
		position: relative;
		float: none;
		width: 100%;
		margin-bottom: 34px;
	}

	.block-music .music-gallery1 .descr-wrapper {
		float: none;
		width: 78%;
	}

	.block-music .music-gallery1 .descr {
		padding-left: 0;
	}

	.block-music .music-gallery1 .counter {
		bottom: -64px;
		z-index: 99;
		right: 0;
	}

	.block-music .photo-wrapper .photo {
		float: none; 
		width: 100%;
		margin-bottom: 10px;
	}

	.block-music .photo-wrapper .photo img {
		width: 100%;
		height: auto;
	}

	.block-music .photo-wrapper .descr-wrapper {
		float: none; 
		width: 100%;
	}

	.block-music .event-calendar .item:first-child, 	.block-music .event-calendar .item:last-child {
		float: none;
		display: block;
	}

	/*block-honeymoon*/

	.block-honeymoon .honeymoon-gallery1 .slider-wrapper {
		position: relative;
		float: none;
		width: 100%;
		margin-bottom: 34px;
	}

	.block-honeymoon .honeymoon-gallery1 .descr-wrapper {
		float: none;
		width: 78%;
	}

	.block-honeymoon .honeymoon-gallery1 .descr {
		padding-left: 0;
	}

	.block-honeymoon .honeymoon-gallery1 .counter {
		bottom: -64px;
		z-index: 99;
		right: 0;
	}

	.block-honeymoon .honeymoon-gallery3 .slider-wrapper {
		position: relative;
		float: none;
		width: 100%;
		margin-bottom: 34px;
	}

	.block-honeymoon .honeymoon-gallery3 .descr-wrapper {
		float: none;
		width: 78%;
	}

	.block-honeymoon .honeymoon-gallery3 .descr {
		padding-left: 0;
	}

	.block-honeymoon .honeymoon-gallery3 .counter {
		bottom: 28px;
		z-index: 99;
		right: 0;
		left: auto;
	}

	/*block-advices*/
	.block-advices .advices-text {
		padding-left: 56px;
	}

	.block-advices.music img {
		float: left;
		margin-right: 14px;
	}
}